.login-wrapper {
	width: 400px;
	box-shadow: 0 0 10px -2px grey;
}

.login-facebook-logo {
	object-fit: contain;
	height: 38px;
}

.login-error-text {
	font-size: 13px;
}

.find-account {
	font-size: 13px;
}

.login-password-view-icon {
	right: 1rem;
	top: 1.7rem;
}
