.forgot-password-body-container {
	background-color: #e9ebee;
}

.forgot-password-wrapper {
	width: 500px;
}

.cancel-btn {
	background-color: #e4e6eb;
	color: #515153;
}

.search-btn {
	background-color: #1977f2;
	color: white;
}

.search-btn:hover {
	background-color: #006eff;
}

.search-error {
	background-color: #fdebe8;
}
