.footer {
	padding: 10rem 9rem 3rem 9rem;
}

.footer-links {
	display: flex;
	flex-wrap: wrap;
	font-size: 0.75rem;
	color: rgba(0, 0, 0, 0.479);
}

.footer-links-lists {
	cursor: pointer;
}

.footer-links-lists:hover {
	text-decoration: underline;
}
